<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password reset code</title>
    <style>
        * {
            font-family: sans-serif;
            margin: 0;
            padding: 0;
        }

        code {
            font-family: monospace;
            user-select: all;
            padding: .25rem;
            background-color: #f0f0f0;
            border: 1px solid #ccc;
            display: inline-block;
            margin: 1rem 0;
        }

        hr {
            margin: .5rem 0;
        }

        small {
            opacity: .75;
        }
    </style>
</head>

<body>
    <div class="container">
        <p>Use the code below to reset your password:</p>
        <p><code>{{resetCode}}</code></p>

        <p>This code expires in 24 hours. If you did not request this, ignore this email.</p>
        <hr>
        <small>Automated message. Do not reply.</small>
    </div>
</body>

</html> 