<p-toast position="top-right"/>

<main class="w-screen h-screen flex flex-column justify-content-center align-items-center p-3 ">
  <div class="w-full max-w-26rem flex flex-column gap-2 p-3 border-round-md">

    <!-- Logo linking to the homepage -->
    <a href="/">
      <img src="logo-full.svg" alt="logo" height="50"/>
      <!-- in case of low contrast and diferent logo for dark and light mode, use this: -->
      <!-- <img [src]="(isDarkMode$ | async) ? './logo-full-white.svg' : './logo-full-black.svg'" alt="logo" height="50"/> -->
    </a>

    <!-- Header with title and dark mode toggle button -->
    <div class="flex align-items-center justify-content-between gap-2">
      <p class="text-2xl font-semibold">{{ 'auth.register.register' | translate }}</p>
      <p-button [icon]="(isDarkMode$ | async) ? 'pi pi-moon' : 'pi pi-sun'" severity="secondary" (click)="toggleDarkMode()" pTooltip="Toggle dark mode" outlined="true" tooltipPosition="bottom"/>
    </div>

    <!-- Registration form -->
    <form [formGroup]="form" (ngSubmit)="register()" class="flex flex-column gap-2">
      <!-- Email input field -->
      <div class="flex gap-1 flex-column">
        <label for="email">{{ 'auth.register.email-address' | translate }}</label>
        <input formControlName="email" type="email" pInputText [placeholder]="'auth.register.email-address' | translate"/>
      </div>
    
      <!-- Password input field -->
      <div class="flex gap-1 flex-column">
        <label for="password">{{ 'auth.register.password' | translate }}</label>
        <p-password formControlName="password" id="password" type="password" [placeholder]="'auth.register.password' | translate" styleClass="w-full" [toggleMask]="true" [inputStyle]="{ 'width': '100%' }" [feedback]="false"/>
      </div>

      <!-- Confirm password input field -->
      <div class="flex gap-1 flex-column">
        <label for="confirmPassword">{{ 'auth.register.confirm-password' | translate }}</label>
        <p-password formControlName="confirmPassword" id="confirmPassword" type="password" [placeholder]="'auth.register.confirm-password' | translate" styleClass="w-full" [toggleMask]="true" [inputStyle]="{ 'width': '100%' }" [feedback]="false"/>
      </div>
    
      <!-- Submit button and login link -->
      <div class="flex gap-3 flex-column mt-2">
        <p-button [label]="'auth.register.register' | translate" styleClass="w-full" type="submit" [disabled]="!form.valid || loading" [loading]="loading"/>

        <p class="text-center">{{ 'auth.register.already-member' | translate }} <a [routerLink]="['/login']" class="text-primary hover:text-color no-underline">{{ 'auth.register.login' | translate }}</a></p>

        <!-- Social login buttons for future implementation -->
        <div id="social-login" class="flex flex-column gap-3">
          <p class="text-center uppercase text-color-secondary">{{ 'auth.register.or' | translate }}</p>

          <div class="flex flex-column sm:flex-row gap-2 w-full">
            <p-button icon="pi pi-google" [label]="('auth.register.register-with' | translate) + ' Google'" outlined="true" styleClass="w-full white-space-nowrap" type="button" [disabled]="socialLoading" [loading]="socialLoading" fluid="true" class="w-full" (click)="registerWithGoogle($event)"/>
            <p-button icon="pi pi-apple" [label]="('auth.register.register-with' | translate) + ' Apple'" outlined="true" styleClass="w-full white-space-nowrap" type="button" [disabled]="socialLoading" [loading]="socialLoading" fluid="true" class="w-full" (click)="registerWithApple($event)"/>
          </div>
        </div>
      </div>
    </form>

  </div>
</main>
