// Styles for disabled form fields to indicate they are not interactive
:host ::ng-deep .p-disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

// Styles specifically for disabled password fields
:host ::ng-deep .p-password.p-disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
