<!-- Main navigation bar -->
<nav class="px-3 mt-3 text-color w-full flex justify-content-between align-items-center m-auto"
    style="max-width: 1200px;">
    
    <!-- Logo section -->
    <div>
        <img [src]="(isDarkMode$ | async) ? './logo-full.svg' : '../logo-full.svg'" 
             alt="logo" 
             height="44" 
             routerLink="/" 
             class="cursor-pointer"/>
    </div>
    
    <!-- Right side controls -->
    <div class="flex gap-2 align-items-center">

        <!-- Language Selector -->
        <p-select
            id="language-selector"
            [options]="languages" 
            [(ngModel)]="selectedLanguage" 
            (onChange)="changeLanguage($event)" 
            optionLabel="name" 
            optionValue="code"
            size="small">
            <ng-template pTemplate="selectedItem" let-language>
                <div class="flex align-items-center gap-2">
                    <img [src]="language.flag" [alt]="language.name" style="height: 1rem;"/>
                </div>
            </ng-template>
            <ng-template pTemplate="item" let-language>
                <div class="flex align-items-center gap-2">
                    <img [src]="language.flag" [alt]="language.name" style="height: 1rem;"/>
                </div>
            </ng-template>
        </p-select>
        
        <!-- User Menu Toggle Button -->
        <div class="flex gap-2 cursor-pointer p-2 border-1 surface-border border-round-md text-color-secondary" 
             (click)="menu.toggle($event)" 
             pTooltip="{{ 'navigation.toggle-dark-mode' | translate }}" 
             tooltipPosition="bottom">
            <i class="pi pi-bars"></i>
        </div>
        
        <!-- User Menu Popover -->
        <p-popover #menu>
            <div class="flex flex-column gap-2">

                <!-- User Info Section -->
                <div class="flex flex-column gap-2">
                    <div class="flex flex-column">
                        <p class="text-xs text-color-secondary">{{ 'user.logged-in-as' | translate }}</p>
                        <small 
                        class="text-sm font-semibold text-color-secondary  max-w-11rem" 
                        style="white-space: nowrap; text-overflow: ellipsis; overflow: hidden;">
                        {{ user?.email }}</small>
                        <span class=" text-green-500 text-xs">
                            <i class="pi pi-check text-xs"></i>
                            {{ 'user.verified' | translate }}
                        </span>
                    </div>

                    <hr class="surface-border my-1">
    
                    <!-- Profile Link -->
                    <div class="flex flex-column">
                        <p-button
                            *ngIf="user?.role === 'admin'"
                            [routerLink]="['/control-panel']"
                            [label]="'user.control-panel' | translate"
                            icon="pi pi-desktop"
                            severity="secondary"
                            text="true"
                            fluid="true"
                            styleClass="justify-content-start"
                            iconPos="left"/>

                        <p-button
                            *ngIf="user?.role === 'user'"
                            [routerLink]="['/control-panel']"
                            [label]="'user.profile' | translate"
                            icon="pi pi-user"
                            severity="secondary"
                            text="true"
                            fluid="true"
                            styleClass="justify-content-start"
                            iconPos="left"/>
                    </div>
                </div>

                <hr class="surface-border my-1">

                <!-- Action Buttons Section -->
                <div class="flex flex-column">
        
                    <!-- Theme Toggle Button -->
                    <p-button
                    [icon]="(isDarkMode$ | async) ? 'pi pi-moon' : 'pi pi-sun'"
                    styleClass="justify-content-start"
                    text="true"
                    [label]="((isDarkMode$ | async) ? 'navigation.light-mode' : 'navigation.dark-mode') | translate"
                    severity="secondary"
                    (click)="toggleDarkMode()"
                    fluid="true"
                    iconPos="left"/>
                
                    <!-- Logout Button -->
                    <p-button 
                    icon="pi pi-sign-out text-sm" 
                    styleClass="hover:text-red-500 justify-content-start" 
                    severity="secondary"
                    text="true" 
                    (click)="disconnect()" 
                    [label]="'navigation.logout' | translate" 
                    pTooltip="Logout" 
                    tooltipPosition="bottom"
                    fluid="true" 
                    iconPos="left"/>
                </div>
                
            </div>
        </p-popover>
    </div>
</nav>
